*,
*::before,
*::after {
box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6, p{
margin-top: 0;
margin-bottom: 0;
}
ul{
margin: 0;
padding: 0;
}
img{
display: block;
max-width: 100%;
}
.container {
width: 1158px;
padding-left: 15px;
padding-right: 15px;
margin:0 auto;
}
button {
cursor: pointer;
}

body {  
font-family: "Roboto", sans-serif;
background-color: #ffffff;
color: #434455;}

a {text-decoration: none;
padding-left: 0;
}  
a:hover,
a:focus{
text-decoration: none;
color: #404bbf;
}
a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

h2{
font-family: "Roboto" 
font-weight: 700;
}

h3{
font-weight: 500;
}
  
ul {
list-style-type: none; 
}

  p{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
  }       

/*------- ---------------header---------------- */
 
.header {
border-bottom: 1px solid #e7e9fc;
box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.header-container{
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}

.web {font-family: "Raleway", sans-serif;
margin-right: 76px;
font-weight: 700;
text-transform:uppercase;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
 color: #4d5ae5;
}

.web-logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;
}

.nav-list{
  display:flex;
  gap: 40px;
  align-items: center;

}
.nav-item-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.studio{
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}
.studio::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  background: #404bbf;
  border-radius: 2px;
    height: 4px;
    
}
 .nav-list-item {}
 




.address { 
font-style: normal;
margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
}
       

.address-item {
}

.address-link  {   
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* -----------------main page-------------- */
.effect{
 padding: 188px 0;
background-color: #2e2f42;
background-image:
linear-gradient(to bottom,
rgba(46,47,66,0.7),
rgba(46,47,66,0.7) ),
 url(../images/office-people.jpg);
 max-width: 1440px;
background-repeat: no-repeat;
background-position: center center;
margin: 0 auto;
background-size: cover;

}

.title {
  text-align: center;
font-weight: 700;
max-width: 496px;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
margin: 0 auto;
color: #fff;
}
.btn {
  display: block;
  margin-top: 48px;
  margin-bottom: 0; 
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  padding: 16px 32px;
  min-width: 169px;
  border: none;
  transition: 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-text {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff; 
}

.btn:hover{
background: #404bbf;
}


 /*------------------features-------------------  */
 .features {
 padding: 120px 0;
 }  

.f-main-hidden {
 position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
 border: 0;
 padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  }
     
.f-list {
  display: flex;
  gap: 24px;
}
         
.f-item {
display: block;
width: calc((100% - 72px) / 4);
}
.features-images{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
}
.features-images {
  padding: 24px 100px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}

.icon {}

.f-subtitle {
 margin-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
        
.f-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
          

 /*------------------our team -------------------  */
.our-team {
  padding-top: 120px;
  padding-bottom: 120px;
background: #f4f4fd;
}

.t-title {
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42;
margin-bottom: 72px;
}

.t-list {
  display: flex;
  gap: 24px;
  justify-content: center;
    align-items: center;
  
}

.t-item{
 width: calc((100% - 3*24px) / 4);
background-color: #FFFFFF;
border-radius: 0 0 4px 4px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-image {
}

.description{
  text-align: center;
  padding: 32px 0;
}
.team-name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;}

.team-text {
color: #434455;
margin-bottom: 8px;
}


.list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.list-link-item {
width: calc((100% - 75px) / 4);
  width: 40px;
  height: 40px;
 background-color: #4d5ae5;
 border-radius: 50%;
}

.our-team-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;

}

.team-social-media {
  fill: #f4f4fd;
}
.list-link-item:hover .our-team-link{
  background-color: #404bbf;
}
/* ---------------portfolio------------- */

.portfolio {
  padding: 120px 0;
}

.portfolio-name {
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42;
text-transform: capitalize;
text-align: center;
margin-bottom: 72px ;
}

.oprtfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
    column-gap: 24px;
}

.oppoturnity {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: calc((100% - 2*24px) / 3);}
 .oppoturnity:hover{
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08); 
 }

.portfolio-image


.port-name {
  margin-bottom: 8px;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.opportunity-text{
  padding: 32px 16px;
border-left: 1px solid #e7e9fc;
border-right: 1px solid #e7e9fc;
border-bottom: 1px solid #e7e9fc ;
  }

.port-text {
 color: #434455;
}
.opportunity-wrap-text{
  position: relative;
  overflow: hidden;
}
.wrap-text{
  position: absolute;
  font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    height: 100%;
    padding: 40px 32px ;
    top: 0;
    left: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);  
}

.oppoturnity:hover .wrap-text{
  transform: translateY(0);
}


/* ------------------------footer------------------- */
.footer-effect{
  background-color:#2E2F42;
  padding: 100px 0;
}
.footer-container{
  display: flex;
  align-items: baseline;
}
.footer-item-link{
  display: flex;
}
.footer{
  margin-right: 120px;
}
.web-footer{
display: inline-block;
 margin-bottom: 16px ;
font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.logo-footer{ 
font-family: "Raleway",
sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;
}
.footer-text{
font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
width: 264px;
}

.footer-list-text{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
 color: #fff;
 margin-bottom: 16px;
}
.footer-link{
  align-items: baseline; 
}

.footer-list-link {
  display: flex;
    gap: 16px;
    
}

.footer-item-link{
  width: calc((100% - 3*16px) / 4);
  width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    
  
}

.footer-link-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4D5AE5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.footer-link-link:hover , .footer-link-link:focus {
  background-color: #31D0AA;
}

.footer-social-media {
  fill: #f4f4fd;
}


